<h1>All the Hats </h1>

<% @hats.each do |hat| %>
  <%=hat.name %><br>
  <%= hat.description %><br>
  <%= link_to 'Edit', edit_hat_path(hat) %> <br>

  <%= link_to 'Delete', hat_path(hat.id), method: :delete %>
  <!-- #link_to normally automatically to get requests so you have to chenge the #method to delete -->
   <br>



<% end %>
<br>
<%= link_to 'Make a New Hat', new_hat_path %>