# edit and new form are the same and can therefor use a partial

<h1>Create a Hat</h1>

<%= form_for @hat do |f| %>
  <%= f.text_field :name, placeholder: 'Hat Name' %><br>
  <%= f.text_area :description, placeholder: 'Describe your Hat!' %><br>

  <%= f.submit %>

<% end %>

<%= link_to 'Your Hats', hats_path %>